/* 
VARIABLES
*/

:root {
	--clr-blue-900: hsl(227, 75%, 14%);
	--clr-blue-800: hsl(226, 25%, 17%);
	--clr-blue-700: hsl(225, 23%, 24%);
	--clr-blue-600: hsl(226, 11%, 37%);
	--clr-blue-200: hsl(217, 61%, 90%);
	--clr-white-500: hsl(0, 0%, 78%);
	--clr-white-300: hsl(0, 0%, 93%);
	--clr-white-100: hsl(200, 60%, 99%);
	--clr-red-400: hsl(3, 86%, 64%);
	--clr-red-500: hsl(3, 71%, 56%);
	--clr-red-700: hsl(3, 77%, 44%);
	--clr-grad-light: linear-gradient(180deg, #ebf2fc 0%, #eef8f9 100%);
	--clr-grad-dark: linear-gradient(180deg, #040918 0%, #091540 100%);

	--fnt-fam: "Noto Sans";
	--fnt-wgt-400: 400;
	--fnt-wgt-500: 500;
	--fnt-wgt-700: 700;
}

/* 
FONT IMPORT
*/

@font-face {
	font-family: "Noto Sans";
	src: url(./browser-extensions-manager-ui-main/assets/fonts/NotoSans-VariableFont_wdth_wght.ttf)
		format("truetype-variations");
	font-display: swap;
	font-style: normal;
	font-size: 0 999;
}

/* 
CSS RESET
 */

/*
  1. Use a more-intuitive box-sizing model.
  2. Remove default margin
*/

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
	line-height: 1.7;
	-webkit-font-smoothing: antialiased;
}

/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
	font: inherit;
}

/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

/*
  8. Remove underline from anchor links
*/

a,
a:visited,
a:active {
	text-decoration: none;
}

/* 
GLOBAL
*/

body {
	background-color: var(--clr-blue-200);
	font-family: var(--fnt-fam);
	font-size: 1rem;
	color: var(--clr-blue-900);
}

.flex {
	display: flex;
	flex-direction: column;
}

/* 
MOBILE VIEW
*/

/* layout */

.main {
	width: min(93vw, 62.5em);
	margin: 1em auto;
}

/* ---- header ---- */

.extensions__header {
	background-color: var(--clr-white-100);
	padding: 0.58em;
	border-radius: 9px;
	box-shadow: 2px 2px 8px var(--clr-white-500);
	margin-bottom: 2em;
}

.extensions__header--flex {
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

/* ---- action bar ---- */

.extensions__actionBar__state--flex {
	flex-direction: row;
	justify-content: center;
	gap: 1em;
}

/* typo */

.extensions__actionBar__title {
	text-align: center;
}

/* assets */

.extensions__header__img {
	width: 150px;
}

.extensions__header__theme__light {
	display: none;
}

.extensions__header__theme__dark {
	background-color: var(--clr-white-300);
	padding: 0.63em;
	width: 40px;
	border-radius: 10px;
}

.extensions__actionBar__state__btn {
	background-color: var(--clr-white-100);
	padding: .2em .8em;
	border-radius: 40px;
	cursor: pointer;
}

.active {
	background-color: var(--clr-red-500);
	color: var(--clr-white-100);
}